- if integration.instance_level?
  = gl_tabs_nav({ class: 'gl-mb-5' }) do
    = gl_tab_link_to _('Settings'), scoped_edit_integration_path(integration)
    = gl_tab_link_to scoped_overrides_integration_path(integration), {} do
      = s_('Integrations|Projects using custom settings')
      %span.badge.badge-muted.badge-pill.gl-badge.sm.gl-tab-counter-badge
        = overrides_counter
  = yield

- else
  = yield
